@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>CRMSaturday is a community driven projects across the globe where Microsoft MVPs and other professionals present Microsoft Dynamics 365 topics.</p>
<p>For more information please see <a href="http://www.crmsaturday.com">http://www.CRMSaturday.com</a></p>
