body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


#schedule {
    display: block;
    overflow: auto;
}

.timetable {
    min-width: 51px;
    width: 51px;
    float: left;
    text-align: center;
    overflow: hidden;
}

.timetable-breakout {
    width: 51px;
    float: left;
    text-align: center;
    overflow: hidden;
    height: 100%;
}

.breakout-description {
    float: left;
    border-left: solid 1px;
    text-align: center;
    width: calc(100% - 51px);
}

.session {
    border: solid 1px;
    min-width: 300px;
    box-sizing: border-box;
    float: left;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
}

.session-description {
    float: left;
    padding-left: 5px;
    word-wrap: break-word;
    width: calc(100% - 56px);
}

.flex-container > * {
    padding-top: 5px;
    padding-bottom: 5px;
    flex-direction: column;
}

.breakout-session {
    border: solid 1px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    float: left;
}

.speaker-profiles {
    border-left: solid 1px;
    max-width: 25%;
    height: 100%;
    padding: 0;
}

.profile-picture {
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}

img {
    height: auto;
    padding: 1px;
    max-height: 80%;
    max-width: 100%;
}

@media(min-width: 200px) {
    .session {
        width: 100%;
    }
}

@media (min-width: 800px) {
    .session {
        width: 50%;
    }
}