<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5c0ba061-4c1a-41ad-856e-3eed2d3a5212/resourceGroups/IntegratingWithAzure/providers/Microsoft.Web/sites/msdyn365</ResourceId>
    <ResourceGroup>IntegratingWithAzure</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://msdyn365.azurewebsites.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>msdyn365.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>msdyn365</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$msdyn365</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:msdyn365.database.windows.net,1433;Initial Catalog=msdyn365auth;User ID=crmadmin@msdyn365.database.windows.net;Password=Hemmelig123" Name="Data Source=tcp:msdyn365.database.windows.net,1433;Initial Catalog=msdyn365auth;User Id=crmadmin@msdyn365.database.windows.net;Password=Hemmelig123;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IntegrationWebService.Models.ApplicationDbContext, IntegrationWebService" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:msdyn365.database.windows.net,1433;Initial Catalog=msdyn365auth;User Id=crmadmin@msdyn365.database.windows.net;Password=Hemmelig123;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>